body{
  background-color:#e8e8e8;
  color:#3d3d3d;
  font-family: "proxima-nova", sans-serif;
  font-weight:300;
}

.axis .tick line{
    stroke:#3d3d3d;
}

.axis .tick line{
    stroke-width:.5px;
}

.sidebar{
  right:0;
  top:0;
  bottom:0;
  overflow-y:scroll;
}

.order{
  fill:#3d3d3d;
}

.order.active{
  fill:#4ac3e8;
}

.background{
  padding-top:20px;
  padding-bottom:20px;
}
