body{
  background-color: #e8e8e8;
  color: #3d3d3d;
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 300;
}

.intro-page{
  padding-top:30vh;
  background-color:#e8e8e8;
  height: 100vh;
  z-index: 2;
}

.container-fluid *{
  visibility: hidden:
}

.header,
.president-name{
  padding-left:60px;
  padding-right:60px;
}

.president{
  font-weight:400;
}

.header{
  position:fixed;
  height:190px;
  background-color: #e8e8e8;
  z-index:1;
  padding-top:20px;
  padding-bottom:20px;
  visibility:hidden;
}

#canvas-n{
  padding-top:200px;
}

#canvas{
  padding-top:18px;
}

h1{
  padding-bottom:0px;
}

h3{
  font-size: 18px;
}

.total{
  font-weight: 600;
  font-size: 12px;
}

.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:visited {
  border-color: #0b6190 !important;
  background: none !important;
  color: #0b6190 !important;
  border-radius: 20px !important;
  outline: none !important;
}

.btn-primary:hover {
  border-color: #0b6190 !important;
  background-color: #cccccc !important;
  color: #0b6190 !important;
  outline: none !important;
}

.btn-primary:active,
.btn-primary.active,
.btn-primary:active:hover,
.btn-primary.active:hover {
  border-color: #0b6190 !important;
  background-color: #0b6190 !important;
  color: #e8e8e8 !important;
  outline: none !important;
}

.container-fluid{
	padding-top:0px;
}

.canvas-links{
  position:absolute;
}

.axis .tick line{
    stroke: #3d3d3d;
}

.axis .tick line{
    stroke-width: .5px;
}

.sidebar{
  right: 0;
  top: 220px;
  bottom: 0;
  overflow-y:scroll;
}

.order{
  stroke: #3d3d3d;
}

.order.active{
  stroke: #bc4af9;
}

.order-circle,
.subject-order-circle{
  visibility: hidden;
}

.background{
  padding-top: 20px;
  padding-bottom: 20px;
}

.order:hover{
  stroke: #bc4af9
}

.title,
.president,
.content,
.references,
.subject{
  margin-right: 50px;
}
