body{
  background-color: #e8e8e8;
  color: #3d3d3d;
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 300;
}

.header,
.president-name{
  padding-left:60px;
  padding-bottom:15px;
}

.header{
  position:fixed;
  height:180px;
  background-color: #e8e8e8;
  z-index:1;
  padding-top:30px;
}

#canvas-n{
  padding-top:180px;
}

h1{
  padding-bottom:15px;
}

.total{
  font-weight: 600;
  font-size: 12px;
}

.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:visited {
  border-color: #a9b35a !important;
  background: none !important;
  color: #a9b35a !important;
  border-radius: 20px !important;
}

.btn-primary:hover {
  border-color: #a9b35a !important;
  background-color: #cccccc !important;
  color: #a9b35a !important;
}

.btn-primary:active,
.btn-primary.active,
.btn-primary:active:hover,
.btn-primary.active:hover {
  border-color: #a9b35a !important;
  background-color: #a9b35a !important;
  color: #e8e8e8 !important;
}

.container-fluid{
	padding-top:0px;
}

.canvas-links{
  position:absolute;
}

/*.canvas-links-div{
  position:absolute;
}*/

.axis .tick line{
    stroke: #3d3d3d;
}

.axis .tick line{
    stroke-width: .5px;
}

.sidebar{
  right: 0;
  top: 180px;
  bottom: 0;
  overflow-y:scroll;
}

.order{
  stroke: #3d3d3d;
}

.order.active{
  stroke: #bc4af9;
}

.order-circle{
  visibility: hidden;
}

.background{
  padding-top: 20px;
  padding-bottom: 20px;
}

.order:hover{
  stroke: #bc4af9
}

.title,
.president,
.content,
.references,
.subject{
  margin-right: 50px;
}
